html {
    height: 100%;
}

body {
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
    background-color: white;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    margin-top: 0;
}

ol, ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

p {
    margin-bottom: 10px;
    margin-top: 0;
}

dd {
    margin-left: 0;
}

.form-group .form-control {
    background-color: #fafbfc;
    margin-right: 5px;
    max-width: 100%;
    width: 440px;
}

.form-control, .form-select {
    font-size: 14px;
}

#holder {
    min-height: 100%;
    position: relative;
}

#pagecontent {
    padding-bottom: 100px;
}

li {
    max-width: 300px;
}

 .fill-col-img {
     width: 40% !important;
 }
 .col-sm-8{
   width: 100% !important;
  font-size: 14pt;
 }
 .title{
  background-color:  #303030;
 }
.title h1 {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 600 !important;
    font-size: 35pt !important;

}
.jumbotron {
    background-color:white;
    /* background-color:#00BFA5; */
    /* background-color:#7C4DFF; */
    /* background-color:#bd93f9; */
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
}

.jumbotron-small {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.page-title{
  padding-top: 15px;
  padding-bottom: 15px;
}

.jumbotron * {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}

.jumbotron h1 {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
}

.jumbotron h3 {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 0;
}

.jumbotron .divider {
    width: 4rem;
    height: 0.35rem;
    background-color: white;
    margin: 1rem 0;
}

.logo {
    margin: 1rem 0;
    width: 80%;
    max-width: 435px;
}

h1 {
    /* padding-bottom: 2rem; */
    font-size: 2.25rem;
    font-weight: bold;
}

h3 {
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}
.content {
    padding-top: 7rem;
    padding-bottom: 10rem;
}

.active-pill {
    border-bottom: #e02232 solid 5px;
}

.pill-content {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #141414;
    border-bottom: solid 2px #3d3d3d;
}

.our-farms img {
    margin: 1rem;
    margin-bottom: 2rem;
    height: 160px;
    width: auto;
}

.our-farms h1 {
    /* margin-left: -2rem; */
    margin-bottom: 2.5rem;
}

.callout p {
    font-size: 1.2rem;
}

.callout {
    background-color: #152F4F;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.callout h1 {
    padding: 0.5rem 0 0;
    font-size: 3.5rem;
    font-weight: 600;
}

@media (min-width: 768px) {
.offset-md-1 {
    margin-left: 5%;
}
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    line-height: 80px;
    background-color: #9768D1;
    color: white;
}

/* NEWS */
.news {
    margin-top: 6rem;
}

.news h1 {
    margin-bottom: 4rem;
}
.news-item {
    height: 18rem;
    min-width: 15rem;
    padding: 2.5rem;
    border: 1px solid #979797;
    border-radius: 5px;
}

.news-item img {
    height: 90px;
    width: 225px;
    display: block;
    margin: 0 auto 1rem;
}

.news-item p {
    margin-bottom: 0.5rem;
}
.news-item a:hover p {
    display: inline-block;
    text-decoration: none;
}

.carousel-control-next {
    right: -10px;
    width: 0;
}

.carousel-control-prev {
    left: -10px;
    width: 0;
}

.signup-btn {
    font-weight: bold;
    font-size: larger !important;
    padding: 1em 1.5em 1em 2em;
    color: white;
    background-color: #9768D1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#9768D1),to(#9768D1));
    background-image: -webkit-linear-gradient(top,#9768D1,#9768D1);
    background-image: -moz-linear-gradient(top,#9768D1,#9768D1);
    background-image: -o-linear-gradient(top,#9768D1,#9768D1);
    background-image: linear-gradient(to bottom,#9768D1,#9768D1);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
    display: inline-block;
    text-decoration: none;
    line-height: 1em;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    text-align: center;
    border-radius: 2px;
    min-width: 112px;
    min-height: 48px;
    outline: 0;
    white-space: normal;
    margin: 1.5em .5em .5em 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.signup-btn:hover {
    background-color: #A06EDE;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#A06EDE),to(#A06EDE));
    background-image: -webkit-linear-gradient(top,#A06EDE,#A06EDE);
    background-image: -moz-linear-gradient(top,#A06EDE,#A06EDE);
    background-image: -o-linear-gradient(top,#A06EDE,#A06EDE);
    background-image: linear-gradient(to bottom,#A06EDE,#A06EDE);
    color: white;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/* NAVBAR */
.navbar {
  background-color: white;
  margin: 0;
  width: 100%;
}
.navbar .navbar-brand {
  color: #9768D1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #9768D1;
}
.navbar .navbar-text {
  color: #9768D1;
}
.navbar .navbar-text a {
  color: #9768D1;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #9768D1;
}
.navbar .navbar-nav .nav-link {
  color: #9768D1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #9768D1;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #9768D1;
  background-color: #c0392b;
}
.navbar .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #9768D1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #9768D1;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #21ce99;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #21ce99;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #21ce99;
    background-color: #c0392b;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffbbbc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #c0392b;
}

.fill-col {
  width: 100%;
}

.carousel {
    font-weight: bold;
    text-align: center;
}

.svg-icon {
    font-size: 48px;
    height: 54px;
}

.site-div {
    text-align: center;
}

.site-div p {
    font-size: 1.5em;
}

.price-div {
    text-align: center;
}

.device-div {
    text-align: center;
}

.device-div p {
    font-size: 1.5em;
}
.contact-form{
  background-color: #272a31;
  width: 720px;
  padding: 10px;
  margin: auto;
  border-radius: 15px;


}

.fill-col{
  width: 100%;
  background-color: transparent; /* Remove background fill */
  text-transform: uppercase; /* Make text all uppercase */
  height: 45px; /* Increase input height */
}
.signin-form{
    background-color: #272a31;
    width: 720px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
 }

.plans-card {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.plans-card-text {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.plans-card-btn {
    border-color: #e1e4e8;
    border-radius: 0 0 2px 2px;
    border-width: 1px 0 0;
    padding: 16px;
}

.btn {
    -webkit-appearance: none;
    -webkit-user-select: none;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    cursor: pointer;
    line-height: 20px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-block {
    display: block;
    text-align: center;
    width: 100%;
}

.btn-outline {
    background-color: #fff;
    background-image: none;
    color: #0366d6;
}

.text-center {
    text-align: center !important;
}

.bg-white {
    background-color: #fff !important;
}

.box-shadow {
    box-shadow: 0 1px 1px rgba(27,31,35,.1) !important;
}

.rounded-1 {
    border-radius: 3px !important;
}

.border {
    border: 1px solid #e1e4e8 !important;
}

.p-3 {
    padding: 16px !important;
}

.d-block {
    display: block !important;
}

.no-underline {
    text-decoration: none !important;
}

.mt-4 {
    margin-top: 24px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 4px !important;
}

.mb-4 {
    margin-bottom: 24px !important;
}

.mb-6 {
    margin-bottom: 40px !important;
}

.text-gray {
    color: #586069 !important;
}

.text-blue {
    color: #0366d6 !important;
}

.text-green {
    color: #28a745 !important;
}

.text-purple {
    color: #9768D1 !important;
}

.btn-outline-blue {
    background-color: #fff;
    background-image: none;
    color: #0366d6;
}

.btn-outline-green {
    background-color: #fff;
    background-image: none;
    color: #28a745;
}

.btn-outline-purple {
    background-color: #fff;
    background-image: none;
    color: #9768D1;
}

.border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
}

.f4 {
    font-size: 16px !important;
}

.lead-mktg {
    font-size: 21px !important;
    font-weight: 400 !important;
}

.h00-mktg {
    font-size: 48px !important;
}

.h0-mktg {
    font-size: 40px !important;
}

.h3-mktg {
    font-size: 20px !important;
}

.h4-mktg {
    font-size: 16px !important;
}

.h00-mktg, .h0-mktg, .h3-mktg, .h4-mktg, .lead-mktg {
    font-family: InterUI,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Oxygen,Ubuntu,Cantarell,Open Sans,sans-serif;
    font-weight: 500;
}

.link-mktg {
    box-shadow: 0 1px 0 0 rgba(18,119,235,.5);
    color: #1277eb;
    text-decoration: none !important;
    transition: .2s;
}

.text-normal {
    font-weight: 400 !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.lh-condensed {
    line-height: 1.25 !important;
}

.alt-text-small {
    font-size: 14px !important;
}

.list-style-none {
    list-style: none !important;
}

.col-md-9-text {
    width: 75%;
}

.pt-big {
    padding-top: 40px;
}

.form-group dt {
    margin: 0 0 6px;
}


.site-choose {
  list-style-type: none;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}


label img {
  height: 20px;
  width: 20px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color:  #8d59ca ;
  transform: scale(1);
}
