{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block pagecontent %}
	<div class="jumbotron page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			    <p>
			        We are three guys who attend the University of Virginia. We are trying to make the Internet experience safer and more enjoyable at a fair and affordable price.
			    </p>
			    <p>
			        So we came up with Dex.
			    </p>
			    <p>
			        Dex is the middleman between you and the companies that offer you their product at the price of your privacy and bloated ads. We came up a solution that helps both parties. You get a faster, cleaner, better experience and the companies make marginally more per user.
			    </p>
			    <p>
			        For just 7 dollars per month, you can choose the websites you visit the most. You create your own package of your top sites and those become mining and ad free on all your devices.
			    </p>
			    <p>
			        If you're a social media savant, a sports fanatic, or a news junkie, we have the right solution for you. It's time for you to have an Internet experience you enjoy. Dex is here.
			    </p>
			    <p>
			        -Jack, Joe and Jack
			    </p>
			</div>
		</div>
	</div>
{% endblock %}
