{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}
{% block pagecontent %}
<div class="jumbotron">
    <div class="container">
        {% comment %} <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"> {% endcomment %}

        <h2>No privacy loss. No invasive ads.
        <br> All your sites.</h2>

        <a class="signup-btn" href="{% url 'signup' %}">JOIN FOR A FREE MONTH</a>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        {% comment %} <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"> {% endcomment %}

        <h2>All Sites</h2>

        <p>
            We believe the internet should be open and free. Freedom as in the user's privacy is protected
            and the user is not constantly being served intrusive ads.
            <br>
            By signing up, all of the registered websites will not serve you ads or mishandle your personal data.
            By registering you are given a virtual token telling the websites that you visit that you are using Dex.
            The subscription fee that you pay goes directly to the websites that you visit.
        </p>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        {% comment %} <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"> {% endcomment %}

        <h2>All Devices</h2>

        <p>
            All devices are supported. iOS and Android are supported by adding a provisioning profile to your device.
            <br>
            This service differentiates itself from any other service is that it prevents ads, but at the same time secures
            the privacy of the user. It also differentiates itself from other services because not only does it prevents
            ads from being shown but gives the websites the appropriate revenue. This encourages websites to add this to their site
            because they benefit from no ads and consistent revenue.
        </p>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        {% comment %} <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo"> {% endcomment %}

        <h2>Price</h2>

        <p>
            We believe the internet should be open and free. Freedom as in the user's privacy is protected
            and the user is not constantly being served intrusive ads.
            <br>
            By signing up, all of the registered websites will not serve you ads or mishandle your personal data.
            By registering you are given a virtual token telling the websites that you visit that you are using Dex.
            The subscription fee that you pay goes directly to the websites that you visit.
        </p>
    </div>
</div>

<script>
    var price = document.getElementById('price');
    var device = document.getElementById('device');
    var cancel = document.getElementById('cancel');
    var pricediv = document.getElementById('price-div');
    var devicediv = document.getElementById('device-div');
    var canceldiv = document.getElementById('cancel-div');
    price.onclick = function() {
        if (price.classList.contains('active-pill')) {
        }
        if (device.classList.contains('active-pill')) {
            device.classList.remove('active-pill')
            price.classList.add('active-pill')
            devicediv.style.display = "none";
            pricediv.style.display = "block";
        }
        if (cancel.classList.contains('active-pill')) {
            cancel.classList.remove('active-pill')
            price.classList.add('active-pill')
            canceldiv.style.display = "none";
            pricediv.style.display = "block";
        }
    }
    device.onclick = function() {
        if (device.classList.contains('active-pill')) {
        }
        if (price.classList.contains('active-pill')) {
            price.classList.remove('active-pill')
            device.classList.add('active-pill')
            pricediv.style.display = "none";
            devicediv.style.display = "block";
        }
        if (cancel.classList.contains('active-pill')) {
            cancel.classList.remove('active-pill')
            device.classList.add('active-pill')
            canceldiv.style.display = "none";
            devicediv.style.display = "block";
        }
    }
    cancel.onclick = function() {
        if (cancel.classList.contains('active-pill')) {
        }
        if (price.classList.contains('active-pill')) {
            price.classList.remove('active-pill')
            cancel.classList.add('active-pill')
            pricediv.style.display = "none";
            canceldiv.style.display = "block";
        }
        if (device.classList.contains('active-pill')) {
            device.classList.remove('active-pill')
            cancel.classList.add('active-pill')
            devicediv.style.display = "none";
            canceldiv.style.display = "block";
        }
    }
</script>
{% endblock %}