{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block pagecontent %}
	<div class="jumbotron page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Products</h1>
				</div>
			</div>
		</div>
	</div>
<br>
<div class="container">

<div>
  <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/a8cbb8eb-8b34-4d00-86cf-f1f49969cf24">
    <span>Base Package</span>
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
</div>
<br>
<div>
  <a class="buy-with-crypto"
     href="https://commerce.coinbase.com/checkout/93c97390-8645-4564-adec-201dd2b65305">
    <span>All Inclusive</span>
  </a>
  <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
  </script>
</div>
</div>
{% endblock %}
