{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block pagecontent %}
<div class="container">
	<h1 class="h00-mktg text-center lh-condensed mb-3 pt-big">
		Plans for all users
	</h1>

	<p class="lead-mktg text-gray mb-6 col-md-9-text mx-auto text-center">
		Cleq provides advertisement free and privacy guranteed browsing. Choose a plan that is a appropriate for you.
	</p>

	<form action="https://test.bitpay.com/checkout" method="post" >
		<input type="hidden" name="action" value="checkout" />
		<input type="hidden" name="posData" value="" />
		<input type="hidden" name="data" value="72W1/+kkgaoiujqM2ImLHAJ6s+dAbGjNXdk0wLct3NgQ5bQckN+4dNXcqOKk4DdRWQ+jWIA6TL8XcYKw4Ed0bXv2zB5Qo5+0IYN3VjMhn+c=" />
		<input type="image" src="https://test.bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" name="submit" style="width:210px;" alt="BitPay, the easy way to pay with bitcoins." >
  	</form>
</div>
{% endblock %}
