{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block pagecontent %}
	<div class="jumbotron page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Sign Up</h1>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		{% if errors and errors|length > 0 %}
			<div class="flash-errors alert alert-warning">
				<ul>
					{% for e in errors %}
						<li>{{e}}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<form method="post">
			{% csrf_token %}
			{% for field in form %}
				<div class="row form-group">
					<div class="col-sm-4">
						<input type="text" class="fill-col" name="firstname" placeholder="First Name">
					</div>
	
					<div class="col-sm-4">
						<input type="text" class="fill-col" name="lastname" placeholder="Last Name">
					</div>
	
					<div class="col-sm-4">
						<input type="email" class="fill-col" name="email" placeholder="Email Address">
					</div>
				</div>
			<button type="submit">Sign Up</button>
		<div class="row form-group">
			<center>
				Already have an account? Login <a href="{% url 'login' %}">here</a>.
			</center>
		</div>
		<form action="#" class="contact-form">
			<div class="row form-group">
				<div class="col-sm-4">
    				<input type="text" class="fill-col" name="firstname" placeholder="First Name">
				</div>

				<div class="col-sm-4">
    				<input type="text" class="fill-col" name="lastname" placeholder="Last Name">
				</div>

				<div class="col-sm-4">
					<input type="email" class="fill-col" name="email" placeholder="Email Address">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-4"><!-- spacer --></div>
				<div class="col-sm-4">
    				<input type="password" class="fill-col" name="password" placeholder="Password">
				</div>
				<div class="col-sm-4"><!-- spacer --></div>
			</div>
			<div class="row form-group">
				<center>
					<input type="submit" class="btn btn-danger" value="Submit">
				</center>
			</div>
		</form>
	</div>
{% endblock %}
