{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block pagecontent %}
	<div class="jumbotron page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>Sign Up</h1>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		{% if errors and errors|length > 0 %}
			<div class="flash-errors alert alert-warning">
				<ul>
					{% for e in errors %}
						<li>{{e}}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<div class="row form-elements">
			<form method="post">
				{% csrf_token %}
				<div class="col-sm-6">
					{{ user_form.as_p }}
				</div>
				<div class="col-sm-6">
					{{ profile_form.as_p }}
				</div>
					<button type="submit">Sign Up</button>
			</form>
		</div>
{% endblock %}
